<div class="header-wrapper">
    <div class="left-side" [ngClass]="mainService.showThemes ? 'give-margin' : 'remove-margin'">
        <div class="header-button" (click)="toggleSideMenu()">
            @if (mainService.sideMenuOpen) {
            <app-side-menu-button style="transform:rotate(180deg)"></app-side-menu-button>
            } @else {
            <app-side-menu-button></app-side-menu-button>
            }
        </div>
        <app-search [searchType]="'search'"></app-search>
        <div class="logo-wrapper">
            <app-bubble></app-bubble>
            <p>Bubbles</p>
        </div>
    </div>

    <div class="right-side">
        <div class="header-button" (click)="showThemesPicker()" [class.cursor-default]="mainService.showThemes">
            <app-theme-picker></app-theme-picker>
            <app-color-picker *ngIf="mainService.showColorPalette"></app-color-picker>
        </div>

        <div class="chat-name" (click)="openProfile()">
            @if (getScreenWidth()) {
            <p>{{ authService.currentUser.username }}</p>
            } @else {
            <app-profile></app-profile>
            }
        </div>
    </div>
</div>