<div class="wrapper">
    <form class="card" [ngClass]="{'hide': hide}" [formGroup]="forgotPasswordForm" (submit)="reset()">
        <div class="row"><span class="large-font">FORGOT PASSWORD</span></div>

        <div class="input-container">
            <input maxlength="30" placeholder="e-mail" type="email" formControlName="email"
                [ngClass]="{'invalid': isInvalid('email'), 'valid': isValidInput('email') }">
            <div class="error-container">
                <div *ngIf="requiredErrors('email')" class="errors">email is required</div>
                <div *ngIf="emailError('email')" class="errors">please use a valid email</div>
            </div>
        </div>
        
        <div class="row small-font">
            <button type="button"  (click)="navigateTo('/login')" class="button3">back to login</button>
            <button type="button" (click)="navigateTo('/signup')" class="button3">create account</button>

        </div>
        <div class="row">
            <button type="submit" [ngClass]="{'valid-form-button': isFormValid()}" class="button1">RESET</button>
        </div>

    </form>
</div>
