<div class="wrapper">
    <div class="imprint-wrapper" [ngClass]="{'hide': hide}">
        <div class="header">
            <p>Impressum</p>
            <app-close class="img-button" (click)="navigateTo('/login')"></app-close>
        </div>

        <p>Elijah Degen & Joshua Trefzer<br />
            Konstanz / Offenburg <br>
            Weitere Daten auf Anfrage</p>

        <h2>Kontakt</h2>
        <p>E-Mail: <a href="mailto:mail@elijahdegen.de">mail&#64;elijahdegen.de</a> </p>


        <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </div>
</div>